<div class="container-fluid">
  <div class="row">
    <form #quotesForm="ngForm" (ngSubmit)="submitquotes()">
      <div class=" form-group">
        <label for="quote">Quote</label>
        <input type="text" class="form-control" id="quote" [(ngModel)]="newquotes.quote" name="quote" required #quote="ngModel" #spy>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">quote required
        </div>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" [(ngModel)]="newquotes.author" name="author" #author="ngModel" required #spy>
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">author required
        </div>
      </div>
      <div class="form-group">
        <label for="quoter">Quoter</label>
        <input type="text" class="form-control" id="quoter" [(ngModel)]="newquotes.quoter" name="quoter" #quoter="ngModel" required #spy>
        <div [hidden]="quoter.valid || quoter.pristine" class="alert alert-danger">quoter required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!quotesForm.form.valid">ADD QUOTE</button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="quotesForm.reset()">reset</button>
    </form>
  </div>
</div>