<h1>Quotes</h1>
<div class="container">
  <app-quotesform (addquotes)="addNewquotes($event)"></app-quotesform><br>
  <ul>
    <div *ngFor='let quotes of quotes; let i = index'>
      <li>{{quotes.quote}} by {{quotes.author}} on {{quotes.Date|date}}</li>
      <i title="Up Votes" ng-click="changeVote(vote, 'up')" class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up']"></i>
      <br>
      <i title="Down Votes" ng-click="changeVote(vote, 'down')" class="fa fa-arrow-circle-down fa-2x" ng-class="{true:'down', false:''}[vote=='down']"></i>
      <app-quotes-details [quotes]='quotes' (isComplete)='deletequotes($event,i)'></app-quotes-details>
    </div>
  </ul>
</div>